if SHIELD_SOFLE_PICO_LEFT

config ZMK_KEYBOARD_NAME
    default "Sofle Pico"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SOFLE_PICO_LEFT || SHIELD_SOFLE_PICO_RIGHT

config ZMK_SPLIT
    default y

endif
